<form action="/create_race_from_event" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @race.user_id %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @race.location_id %>">
  </div>

  <input type="hidden" name="event_id" value="<%= @event.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>
