<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Workouts Homepages

    <a data-toggle="collapse" href="#user_workouts_homepages_new_form">
      Add races homepage
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.workouts_homepages.each do |races_homepage| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/races_homepages/<%= races_homepage.id %>">
          <%= races_homepage.race_id %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
