<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Races
  </div>

  <ul class="list-group list-group-flush">
    <% @user.races.each do |race| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/races/<%= race.id %>">
          <%= race.created_at %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
