<h1>
  Edit race #<%= @race.id %>
</h1>

<hr>

<form action="/update_race/<%= @race.id %>" method="post">


  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :race_id, @race.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @race.event_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update race
  </button>
</form>

<hr>

<a href="/races">
  Go back
</a>
