<% if @race.present? %>
  <% if @race.errors.any? %>
    <% @race.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new race
</h1>


<hr>

<form action="/create_race" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @race.user_id %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @race.location_id %>">
  </div>

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :created_at, @race.event_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>

<hr>

<a href="/races">
  Go back
</a>
