<!-- Form race start -->
<form action="/create_race_from_location" method="post">
<!-- Form race end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for location_id start -->
  <!-- Input for location_id start -->
  <input type="hidden" name="location_id" value="<%= @location.id %>">
  <!-- Input for location_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @race.event_id %>">
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>
