<form action="/create_races_homepage_from_location" method="post">

  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <%= select_tag(:race_id, options_from_collection_for_select(Race.all, :id, :user_id, @races_homepage.race_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @races_homepage.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="location_id" value="<%= @location.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create races homepage
  </button>
</form>
