<!-- Form races_homepage start -->
<form action="/create_races_homepage_from_location" method="post">
<!-- Form races_homepage end -->

  <!-- Label and input for race_id start -->
  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <!-- Input for race_id start -->
    <input type="text" id="race_id" name="race_id" class="form-control" value="<%= @races_homepage.race_id %>">
    <!-- Input for race_id end -->
  </div>
  <!-- Label and input for race_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @races_homepage.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for location_id start -->
  <!-- Input for location_id start -->
  <input type="hidden" name="location_id" value="<%= @location.id %>">
  <!-- Input for location_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create races homepage
  </button>
</form>
