<form action="/create_race_from_location" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="location_id" value="<%= @location.id %>">

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @race.event_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>
