<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Races

    <a data-toggle="collapse" href="#location_races_new_form">
      Add race
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.races.each do |race| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/races/<%= race.id %>">
          <%= race.user_id %>
        </a>

        <%if current_user == race.participant %>
          <a href="/delete_race_from_location/<%= race.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_races_new_form">
        <%= render partial: "location_templates/location_races_new_form" %>
      </div>
    </div>

  </ul>
</div>
