<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Workouts Homepages

    <a data-toggle="collapse" href="#location_workouts_homepages_new_form">
      Add races homepage
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.workouts_homepages.each do |races_homepage| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/races_homepages/<%= races_homepage.id %>">
          <%= races_homepage.race_id %>
        </a>

        <a href="/delete_races_homepage_from_location/<%= races_homepage.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_workouts_homepages_new_form">
        <%= render partial: "location_templates/location_workouts_homepages_new_form" %>
      </div>
    </div>

  </ul>
</div>
