<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location #<%= @location.id %>
</h1>

<hr>

<form action="/update_location/<%= @location.id %>" method="post">

  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <input type="text" id="race_id" name="race_id" class="form-control" value="<%= @location.race_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
