<h1>
  Add a new location
</h1>


<hr>

<form action="/create_location" method="post">

  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <input type="text" id="race_id" name="race_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
