<!-- Validation failure messages -->
<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new location
</h1>


<hr>

<!-- Form location start -->
<form action="/create_location" method="post">
<!-- Form location end -->

  <!-- Label and input for race_id start -->
  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <!-- Input for race_id start -->
    <input type="text" id="race_id" name="race_id" class="form-control" value="<%= @location.race_id %>">
    <!-- Input for race_id end -->
  </div>
  <!-- Label and input for race_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
